* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #B5C18E;
}

header {
    color: #fff;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.score {
    width: 200px;
    display: flex;
    gap: 15px;
    justify-content: center;
    font-size: 12px;
}

.table .row {
    display: flex;
}

.row .box {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EEEEEE;
    border: 1px solid #686D76;
}

.row .box.gray {
    background: gray;
}

.row .box.green {
    color: green;
}

.row .box.blue {
    color: blue;
}

.row .box.red {
    color: red;
}

.row .box.purple {
    color: purple;
}

.row .box.orange {
    color: orange;
}

.row .box.flagged {
    background: #FFD700;
    /* Optional: change the background color for flagged boxes */
}

.restart {
    margin-top: 10px;
}

.restart.hide {
    visibility: hidden;
    pointer-events: none;
}